- name: "Configure time sync for Linux"
  ansible.builtin.include_tasks: linux/main.yml
  when: ansible_system == "Linux"

- name: "Configure time sync for FreeBSD"
  ansible.builtin.include_tasks: freebsd/main.yml
  when: ansible_os_family == "FreeBSD"

