- name: "Configure the hardware clock"
  ansible.builtin.include_tasks: config_hw_clock/main.yml

- name: "Enable continuous system time sync"
  ansible.builtin.include_tasks: config_time_sync/main.yml
  when: cfg_time_enable_continuous_sync_to_ntp_servers

- name: "Set time zone"
  ansible.builtin.include_tasks: config_time_zone/main.yml

- name: "Execute any role handler that was notified"
  ansible.builtin.meta: flush_handlers

