- name: "Call out to {{ cfg_time_geo_ip_uri }} to determine timezone based on IP addr location"
  block:
    - name: "Set 'tz' fact by calling out to geo IP"
      ansible.builtin.include_tasks: set_tz_from_geo_ip.yml
  rescue:
    - name: "SECOND TRY - Set 'tz' fact by calling out to geo IP"
      ansible.builtin.include_tasks: set_tz_from_geo_ip.yml
  when: cfg_time_time_zone_tz_name == 'auto'

- name: "Define tz-name-string to cfg_time_time_zone_tz_name var '{{ cfg_time_time_zone_tz_name }}'"
  ansible.builtin.set_fact:
    tz: "{{ cfg_time_time_zone_tz_name }}"
  when: cfg_time_time_zone_tz_name != 'auto'

- name: "Set the system time zone to tz-name-string '{{ tz }}'"
  community.general.timezone:
    name: "{{ tz }}"
  become: true
  become_user: root

