- name: "Create timesynd config dir '{{ config_dir_path }}'"
  ansible.builtin.file:
    path: "{{ config_dir_path }}"
    state: directory
    owner: 'root'
    group: 'root'
    mode: '755'
  vars:
    config_dir_path: "{{ cfg_time_linux_timesyncd_conf_filepath | dirname }}"
  become: true
  become_user: root

- name: "Create initial timesynd config file '{{ cfg_time_linux_timesyncd_conf_filepath }}'"
  ansible.builtin.template:
    dest: "{{ cfg_time_linux_timesyncd_conf_filepath }}"
    src: "archlinux/timesyncd.j2"
    owner: 'root'
    group: 'root'
    mode: '644'
    force: false
  become: true
  become_user: root

- name: "Set systemd-timesyncd primary NTP servers"
  ansible.builtin.include_tasks: edit_timesync_conf.yml
  vars:
    description: "primary NTP servers"
    setting_line: "NTP={{ cfg_time_primary_ntp_servers | join(' ') }}"

- name: "Set systemd-timesyncd fallback NTP servers"
  ansible.builtin.include_tasks: edit_timesync_conf.yml
  vars:
    description: "fallback NTP servers"
    setting_line: "FallbackNTP={{ cfg_time_linux_timesyncd_fallback_ntp_servers | join(' ') }}"

