- name: "Configure ntpd service"
  ansible.builtin.include_tasks: config_ntpd.yml

- name: "Configure NTP time servers"
  ansible.builtin.include_tasks: config_time_servers.yml
  when: cfg_time_enable_continuous_sync_to_ntp_servers

